*.res
*.exp
*.tlog
*.idb
*.sdf
*.opensdf
*.apk
*.class
*.o
*.d
*.dia
*.hmap

bin/
obj/
cocos2d/cocos/platform/android/java/gen/
cocos2d/build/
proj.android/assets/
proj.android/gen/
cocos2d/cocos/platform/android/java/
proj.android/local.properties
proj.android/libs/
proj.ios_mac/build/

proj.ios_mac/wormhold.xcodeproj/project.xcworkspace/xcuserdata/
submission/
raw/
